on:
  pull_request_target:
    types:
      - labeled

jobs:
  handlelabel:
    runs-on: ubuntu-slim
    steps:
      - shell: bash
        env:
          REF: ${{ github.ref }}
          BASE: ${{ github.event.pull_request.base.sha }}
          HEAD: ${{ github.event.pull_request.head.sha }}
        run: |
          echo "Hello World"
          echo "REF>> ${REF}"
          echo "BASE>> ${BASE}"
          echo "HEAD>> ${HEAD}"
