on:
  workflow_call:
  pull_request_target:
    types:
      - labeled

jobs:
  handlelabel:
    runs-on: ubuntu-slim
    steps:
      - shell: bash
        env:
          REF: ${{ github.ref }}
          BASE: ${{ github.event.pull_request.base.sha }}
          HEAD: ${{ github.event.pull_request.head.sha }}
        run: |
          echo "Hello World"
          echo "REF>> ${REF}"
          echo "BASE>> ${BASE}"
          echo "HEAD>> ${HEAD}"
  clone-ref:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4
        with:
          # insecure clone of contributor content
          ref: ${{ github.event.pull_request.head.sha }}
          path: local_clone
      - run: cat local_clone/.github/workflows/actions/example/action.yaml
      - uses: ./local_clone/.github/workflows/actions/example/action.yaml


